.row {
  margin-right: 0;
}
.sidebar {
  background-color: #f8f9fa;
  min-height: 100vh;
  padding: 10px 0;
}
.sidebar ul li {
  padding: 10px 0 10px 10px;
}
.add-product input,
.edit-product input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 15px;
}
